.container-bg {
    background: rgba(3, 90, 100, 0.411);
}

.h2 {
	text-align: text-top;
    font-size: 50px;
    font-weight: bold;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(3, 90, 100, 0.8);
  color: white;
  text-align: center;
  height: 50px;
  
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(3, 90, 100, 0.411);
  height: 40px;
  position: relative ;
}
